$navbar-height: 76px;

//Colors
$primary-color: #4a5f73;
$primary--lighter-color: #5c7386;

$accent-color: #5db75f;
$promotion-color: #6cc071;
$succeed-color: #3e9a43;
$succeed-border-color: #5db65f;
$error-color: #d11415;
$error-font: #dd5353;

$shadow-color: #f0f0f0;
$shadow-color--darker: #f3f3f3;

$footer-border: #eaeaea;
$footer-color: #afafaf;
$footer-logo-color: #949494;

$inputs-border: #c2c2c2;
$placeholders-color: #b6b6b6;
$placeholders-color2: #eaeaea;
$label-color: #8a8a8a;

$font-color: #515151;

$background-color: #fafafa;
$background-color--darker: #f7f7f7;
$hover-color: #f6f7f8;


//Breakpoints
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;